@font-face {
  font-family: 'NanumSquareNeoOTF-Bd';
  src: url('assets/Font/NanumSquareNeoOTF-Bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeoOTF-Hv';
  src: url('assets/Font/NanumSquareNeoOTF-Hv.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #000;
  margin: 0;
}