@font-face {
  font-family: 'NanumSquareNeoOTF-Bd';
  src: url('assets/Font/NanumSquareNeoOTF-Bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeoOTF-Hv';
  src: url('assets/Font/NanumSquareNeoOTF-Hv.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: white;
  margin: 0;
  /* overflow: hidden; */
  /* margin-left: 20px; */
  /* box-shadow: inset 0 0 10px 10px red, 0 0 10px 10px blue; */

  /* & canvas {
    transform: rotate(90deg);
    transform-origin: right;
    position: fixed;
    margin: 0;
    left: -140px;
    top: 180px;
    height: 100vw;

  } */
}